// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Some example variables that you can uncomment:

// Enabling shadows and gradients
//$enable-shadows: true;
//$enable-gradients: true;

// Changing the body background and text
//$body-bg: #d3e9eb;
//$body-color: #151417;

// Changing the border radius of buttons
$border-radius: none;

// Theme colors
$c-theme-blue: #14558f;
$c-theme-green: #43956f;
$c-theme-gray: #535353;
$c-theme-yellow: #f6c51b;
$c-red: #cd0d0d;
$c-white: white;
$c-black: #141414;
$c-gray-f2f2f2: #f2f2f2;
$c-gray-dcdcdc: #dcdcdc;
$c-gray-a6a6a6: #a6a6a6;
$c-gray-707070: #707070;
$c-gray-757575: #757575;
// Changing the theme colors
$primary: $c-theme-green;
$secondary: $c-theme-blue;
$success: $c-theme-green;
$info: #535353;
$warning: $c-theme-yellow;
$danger: $c-red;
$light: $c-gray-f2f2f2;
$dark: $c-black;


// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
//$theme-colors: (
//  "cool": #4d3fa3
//);
